<div
  id="auth--button-container"
  data-aos="slide-left"
  data-aos-duration="1500"
  data-aos-easing="ease-out"
  class="absolute top-0 right-2 hidden md:right-4 md:mt-1 md:block md:py-2"
>
  <div class="flex flex-row items-center justify-center gap-2 md:gap-4">
    <button
      onclick="console.log('buttonClicked')"
      class="cursor-pointer rounded-full border border-green-500 bg-gradient-to-br from-green-500 to-teal-500 px-2 py-1 text-sm font-normal text-white transition-all ease-linear hover:border-green-600 hover:brightness-110 md:px-4 md:py-2 md:text-base md:font-semibold"
      >Login</button
    >
    <button
      onclick="console.log('buttonClicked')"
      class="cursor-pointer rounded-full border border-green-500 bg-white px-2 py-1 text-sm font-normal text-slate-900 transition-colors ease-linear hover:border-green-600 hover:bg-slate-50 md:px-4 md:py-2 md:text-base md:font-semibold"
      >Signup</button
    >
  </div>
</div>
