<div class="absolute top-0 right-4">
  <div class="flex flex-row items-center justify-center gap-4">
    <button
      class="cursor-pointer rounded-full border border-green-500 bg-gradient-to-br from-green-500 to-teal-500 px-2 py-1 text-sm font-light text-white transition-colors ease-linear hover:border-green-600 hover:from-green-600 hover:to-teal-600 md:px-4 md:py-2 md:text-base md:font-medium"
      >Login</button
    >
    <button
      class="cursor-pointer rounded-full border border-green-500 px-2 py-1 text-sm font-light transition-colors ease-linear hover:border-green-600 hover:bg-slate-50 md:px-4 md:py-2 md:text-base md:font-medium"
      >Signup</button
    >
  </div>
</div>
