<div class="pointer-events-none absolute inset-0 -z-10 grid grid-rows-2">
  <div
    class="row-start-1 mt-4 mr-auto mb-auto w-fit max-w-[30%] self-start px-4 py-2 md:mt-1"
  >
    <span
      class="text- bg-gradient-to-b from-green-500 to-teal-500 bg-clip-text text-3xl font-extrabold tracking-normal text-transparent uppercase md:tracking-widest"
    >
      Envira Energies
    </span>
  </div>
  <div
    class="row-start-2 mt-auto ml-auto w-fit max-w-[30%] self-start px-4 py-2 max-md:mb-1"
  >
    <span
      class="bg-gradient-to-b from-green-400 to-teal-400 bg-clip-text text-3xl font-extrabold tracking-normal text-transparent uppercase italic"
    >
      New Gen Energies
    </span>
  </div>
</div>
