---
import AboutEnvira from "./Components/AboutEnvira.astro";
import FillerContent from "./Components/FillerContent.astro";
import Impression from "./Components/Impression.astro";
---

<FillerContent />
<section id="about">
  <AboutEnvira />
  <Impression />
</section>
