---
import AboutEnvira from "./Components/AboutEnvira.astro";
import FillerContent from "./Components/FillerContent.astro";
import Impression from "./Components/Impression.astro";
---

<FillerContent />
<section id="about" class="rounded-none 2xl:overflow-hidden 2xl:rounded-t-2xl">
  <AboutEnvira />
  <Impression />
</section>
