---
import ServiceCard from "./Components/ServiceCard.astro";
import { ServicesCards } from "./Components/ServicesCardData.ts";
---

<section id="services" class="px-16 pt-20 pb-10">
  <div class="space-y-20 rounded-2xl bg-green-50 p-16">
    <div class="flex w-full items-center justify-between">
      <h2 class="text-5xl font-semibold tracking-wider capitalize">
        Our Solar Solutions
      </h2>
      <p class="w-xs text-lg font-medium text-pretty">
        We believe in the power of solar energy to transform lives and
        communities.
      </p>
    </div>
    <div
      class="grid w-full grid-cols-1 place-items-center gap-8 md:grid-cols-2 lg:grid-cols-4"
    >
      {
        ServicesCards.map((service) => (
          <div class="size-full">
            <ServiceCard {...service} />
          </div>
        ))
      }
    </div>
  </div>
</section>
