---
import ServiceCard from "./Components/ServiceCard.astro";
import { ServicesCards } from "./Components/ServicesCardData.ts";
---

<section id="services" class="px-8 pt-10 pb-5 md:px-16 md:pt-20 md:pb-10">
  <div
    class="space-y-10 rounded-2xl bg-green-50 p-8 sm:p-4 md:space-y-20 md:p-16"
  >
    <div
      class="flex w-full flex-col items-center justify-between gap-6 sm:flex-row md:gap-4"
    >
      <h2
        data-aos="fade-down"
        class="text-center text-3xl font-semibold tracking-wide text-balance capitalize md:text-left md:text-5xl 2xl:text-6xl"
      >
        Our Solar Solutions
      </h2>
      <p
        data-aos="fade-down"
        class="hidden w-xs text-lg font-medium text-pretty sm:block 2xl:w-sm 2xl:text-xl"
      >
        We believe in the power of solar energy to transform lives and
        communities.
      </p>
    </div>
    <div
      class="grid w-full grid-cols-1 place-items-center gap-4 sm:grid-cols-2 sm:gap-6 md:grid-cols-4 md:gap-8"
    >
      {
        ServicesCards.map((service) => (
          <div class="size-full">
            <ServiceCard {...service} />
          </div>
        ))
      }
    </div>
  </div>
</section>
