---
import InstagramIcon from "@assets/Icons/Instagram.svg";
import LinkedinIcon from "@assets/Icons/Linkedin.svg";
---

<div
  class="flex w-full flex-col-reverse items-center justify-between gap-y-2 px-0 pt-2 sm:flex-row sm:px-4"
>
  <div
    class="text-left text-xs text-white sm:text-sm md:text-center 2xl:text-base"
  >
    &copy; 2025 Envira Energies. All rights reserved.
  </div>
  <div
    class="flex w-full items-center justify-evenly gap-1 sm:w-fit sm:justify-center"
  >
    <a
      class="rounded-full bg-transparent p-2 text-white transition-colors duration-200 hover:bg-teal-500"
      href="https://www.instagram.com/enviraenergies/"
      target="_blank"
      aria-label="Instagram Profile"
    >
      <InstagramIcon class="size-4 sm:size-5 md:size-6 2xl:size-7" />
    </a>
    <a
      class="rounded-full bg-transparent p-2 text-white transition-colors duration-200 hover:bg-teal-500"
      href="https://www.linkedin.com/company/enviraenergies/"
      target="_blank"
      aria-label="Linkedin Profile"
    >
      <LinkedinIcon class="size-4 sm:size-5 md:size-6 2xl:size-7" />
    </a>
  </div>
</div>
