<div class="z-10 flex size-full items-center justify-center p-4">
  <div
    id="hero-text-container"
    class="grid max-w-md place-content-center gap-2 rounded-2xl border border-yellow-300/50 bg-white/5 p-2 backdrop-blur-xs md:max-w-lg md:gap-4 md:p-4"
  >
    <div
      class="text-center text-4xl leading-snug font-bold text-balance text-white md:text-6xl"
    >
      Harnessing the Power of <span class="text-green-500"> Nature </span>
    </div>
    <div
      class="text-center text-sm leading-snug font-medium text-lime-500 italic md:text-xl"
    >
      Save on Energy, Power Your Home
    </div>
    <div
      class="flex w-full flex-row items-center justify-between p-2 tracking-wider md:p-4"
    >
      <button
        class="cursor-pointer rounded-xl border border-green-500 bg-green-600 px-2 py-1 text-sm font-light text-white transition-colors ease-linear hover:border-green-600 hover:bg-green-700 md:px-4 md:py-2 md:text-base md:font-medium"
        >Learn More</button
      >
      <button
        class="cursor-pointer rounded-xl border border-slate-100 bg-slate-50 px-2 py-1 text-sm font-light transition-colors ease-linear hover:border-slate-300 hover:bg-slate-200 md:px-4 md:py-2 md:text-base md:font-medium"
        >Book a Consultation</button
      >
    </div>
  </div>
</div>
