---
import Branding from "./Branding.astro";
import Content from "./Content.astro";
import HeroBackground from "./HeroBackground.astro";
---

<section id="home" class="h-screen p-4">
  <div class="relative size-full">
    <HeroBackground />
    <Branding />
    <Content />
  </div>
</section>
