---
import AuthButtons from "./Components/AuthButtons.astro";
import Branding from "./Components/Branding.astro";
import Content from "./Components/Content.astro";
import HeroBackground from "./Components/HeroBackground.astro";
---

<section id="home" class="h-svh overflow-hidden p-4 max-sm:pt-12">
  <div class="relative size-full">
    <HeroBackground />
    <Branding />
    <AuthButtons />
    <Content />
  </div>
</section>
