---
import "@styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <meta name="generator" content={Astro.generator} />
    <title>Envira Energies</title>
  </head>npm
  <body>
    <div
      class="grid h-svh place-content-center gap-4 bg-gradient-to-b from-sky-50 to-teal-100 px-8 py-10 text-center md:gap-8 md:px-16 md:py-20"
    >
      <h1
        class="portrait::sm:text-5xl text-4xl font-bold tracking-wider text-balance text-green-600 md:text-5xl"
      >
        ⚡ Lost in the Solar Systems?
      </h1>
      <p
        class="portrait::sm:text-2xl max-w-prose text-xl font-medium text-pretty text-gray-700 md:text-2xl"
      >
        <span class="inline md:block">
          The page you're looking for has gone off-grid.
        </span>
        <span class="inline md:block">
          Let's guide you back to brighter places.
        </span>
      </p>
      <a
        href="/"
        class="portrait::sm:text-base mt-4 w-fit justify-self-center rounded-full bg-gradient-to-r from-green-500 to-teal-500 px-6 py-3 text-base font-semibold tracking-wide text-white shadow-md transition ease-in-out hover:scale-105 hover:brightness-110 md:mt-0 md:text-base"
      >
        Back to Home
      </a>
    </div>
  </body>
</html>
