---
import Logo from "@assets/logo_small.svg";
---

<footer class="bg-gradient-to-b from-green-600 to-teal-600">
  <div
    class="flex w-full flex-col items-start justify-between gap-10 px-16 py-20 md:flex-row"
  >
    <!-- Company Info -->
    <div class="w-min space-y-4 px-4">
      <h3
        class="flex items-center justify-start text-6xl font-extrabold tracking-wide text-nowrap text-white"
      >
        <Logo class="size-16" />
        Envira Energies
      </h3>
      <p class="ml-8 text-xl text-white opacity-95">
        Empowering India with reliable, cost-effective solar energy solutions.
      </p>
    </div>

    <!-- Contact -->
    <div class="w-min space-y-4 px-4">
      <h4 class="text-3xl font-semibold text-white">Contact Us</h4>
      <div class="space-y-2 text-white">
        <a class="group block" href="mailto:contact@enviraenergies.com">
          Email: <br />
          <span class="group-hover:underline">
            contact@enviraenergies.com
          </span>
        </a>
        <a class="group block" href="tel:+919136811775">
          Phone: <br />
          <span class="group-hover:underline"> +91 9136811775 </span>
        </a>

        <span class="block cursor-default">
          Location: <br />The Capital, G-Block, BKC, <br />Mumbai, 400103
        </span>
      </div>
    </div>
  </div>

  <div class="px-16">
    <div
      class="flex w-full items-center justify-between border-t border-green-400 py-5"
    >
      <div class="text-center text-sm text-white">
        &copy; 2025 Envira Energies. All rights reserved.
      </div>
      <div class="text-center text-sm text-white">Social Icons</div>
    </div>
  </div>
</footer>
