<div
  class="grid place-content-center bg-white bg-gradient-to-b to-sky-300 px-16 py-20"
>
  <div class="flex flex-col items-center justify-center gap-8">
    <h2 class="text-5xl font-semibold tracking-wider capitalize">
      Clean Energy - Smarter Saving
    </h2>
    <p class="max-w-4xl text-center text-2xl font-medium text-pretty">
      Envira Energies delivers cutting-edge solar solutions across India— from
      installation to maintenance. We are committed to driving a sustainable
      future by harnessing the limitless potential of renewable energy. Power
      your future with clean, reliable, and efficient energy.
    </p>
  </div>
</div>
