<div
  class="grid place-content-center bg-white bg-gradient-to-b to-sky-300 px-8 py-10 md:px-16 md:py-20"
>
  <div class="flex flex-col items-center justify-center gap-8">
    <h2
      data-aos="fade-up"
      data-aos-anchor-placement="top-center"
      class="text-center text-3xl font-semibold tracking-wider text-balance capitalize md:text-left md:text-5xl 2xl:text-6xl"
    >
      Clean Energy - Smarter Saving
    </h2>
    <p
      data-aos="fade-up"
      data-aos-anchor-placement="center-center"
      class="max-w-4xl text-left text-lg font-medium text-pretty md:text-center md:text-2xl 2xl:max-w-5xl 2xl:text-3xl"
    >
      Envira Energies delivers cutting-edge solar solutions across India— from
      installation to maintenance. We are committed to driving a sustainable
      future by harnessing the limitless potential of renewable energy. Power
      your future with clean, reliable, and efficient energy.
    </p>
  </div>
</div>
