<div class="flex items-start justify-between gap-4 bg-white px-16 py-20">
  <h2
    data-aos="slide-right"
    class="text-4xl font-semibold tracking-widest capitalize"
  >
    Save On Electricity Bills
  </h2>
  <p data-aos="slide-left" class="max-w-xl text-lg font-medium text-pretty">
    Generate your own clean energy from the sun for free with solar panels. Add
    a Powerwall to store your energy for use anytime you need it. Flexible
    financing options may be available to help you get the best price for your
    solar system. By installing solar panels, you can also reduce your reliance
    on traditional energy sources.
  </p>
</div>
