---
import { Image } from "astro:assets";

import Image_1 from "@assets/Home/Impression/1.webp";
import Image_2 from "@assets/Home/Impression/2.webp";
---

<div
  class="flex flex-col items-center justify-start gap-10 bg-gradient-to-b from-sky-300 to-green-50 px-8 py-10 md:grid md:h-[200svh] md:grid-cols-2 md:grid-rows-2 md:place-items-center md:gap-20 md:px-16 md:py-20 2xl:h-auto"
>
  <p
    data-aos="fade-up-right"
    class="text-left text-xl font-medium text-pretty italic max-md:order-2 md:text-3xl 2xl:text-4xl"
  >
    We aim to accelerate the change to a diversified, environmental conscious
    energy system.
  </p>
  <div
    class="aspect-square size-full overflow-hidden rounded-2xl max-md:order-1 sm:aspect-video md:aspect-auto 2xl:aspect-square"
  >
    <Image
      data-aos="zoom-out-no-fade"
      data-aos-duration="1500"
      data-aos-easing="ease-out"
      src={Image_1}
      alt=""
      class="size-full object-cover"
      loading="lazy"
    />
  </div>
  <div
    class="aspect-square size-full overflow-hidden rounded-2xl max-md:order-3 sm:aspect-video md:aspect-auto 2xl:!aspect-square"
  >
    <Image
      data-aos="zoom-out-no-fade"
      data-aos-duration="1500"
      data-aos-easing="ease-out"
      src={Image_2}
      alt=""
      class="size-full object-cover"
      loading="lazy"
    />
  </div>

  <p
    data-aos="fade-up-left"
    class="text-left text-xl font-medium text-pretty italic max-md:order-4 md:text-3xl 2xl:text-4xl"
  >
    Our mission is simple: to power the world sustainably. We strive to make
    renewable energy accessible, reliable, and affordable for all.
  </p>
</div>

<style>
  @keyframes zoom-out-no-fade {
    from {
      transform: scale(1.2);
    }
    to {
      transform: scale(1);
    }
  }

  [data-aos="zoom-out-no-fade"] {
    transform: scale(1.2);
    opacity: 1 !important;
  }

  [data-aos="zoom-out-no-fade"].aos-animate {
    animation-name: zoom-out-no-fade;
    animation-fill-mode: forwards;
    animation-timing-function: var(--aos-easing, ease-out);
    animation-duration: var(--aos-duration, 1500ms);
    opacity: 1 !important;
  }
</style>
