---
import "@styles/global.css";
import CommonHead from "@components/CommonHead.astro";
import Footer from "@components/Footer/Footer.astro";
import Navbar from "@components/Navbar/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <CommonHead />
  </head>
  <body>
    <!-- Developed by Kanishka Chandra - https://gitfolders.xyz -->
    <Navbar />
    <slot />
    <Footer />

    <!-- Script to handle initial Navbar state -->
    <script>
      window.addEventListener("DOMContentLoaded", () => {
        const navbarContainer = document.getElementById("navbar-container");
        const navbar = document.getElementById("navbar");

        const onLeaveViewport = () => {
          navbarContainer?.classList.remove("!pointer-events-none");
          navbar?.classList.add("[transform:translateY(var(--translateY))]");
        };

        const onEnterViewport = () => {
          navbarContainer?.classList.add("!pointer-events-none");
          navbar?.classList.remove("[transform:translateY(var(--translateY))]");
        };

        const observer = new IntersectionObserver(
          (entries) => {
            entries.forEach((entry) => {
              if (entry.isIntersecting) {
                onEnterViewport();
              } else {
                onLeaveViewport();
              }
            });
          },
          {
            threshold: 0.6,
          },
        );

        const homeElement = document.getElementById("home");
        if (homeElement) {
          observer.observe(homeElement);
        }
      });
    </script>
    <script>
      import AOS from "aos";
      if (!window.matchMedia("(prefers-reduced-motion: reduce)").matches) {
        AOS.init({
          disable: "mobile",
          duration: 1000,
          easing: "ease",
          once: true,
        });
      }
    </script>
    <!-- Developed by Kanishka Chandra - https://gitfolders.xyz -->
  </body>
</html>
