---
import "@styles/global.css";
import Footer from "@components/Footer/Footer.astro";
import Navbar from "@components/Navbar/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <meta name="generator" content={Astro.generator} />
    <title>Envira Energies</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />

    <!-- Script to handle initial Navbar state -->
    <script>
      window.addEventListener("DOMContentLoaded", () => {
        const navbarContainer = document.getElementById("navbar-container");
        const navbar = document.getElementById("navbar");

        const onLeaveViewport = () => {
          navbarContainer?.classList.remove("!pointer-events-none");
          navbar?.classList.add("[transform:translateY(var(--translateY))]");
        };

        const onEnterViewport = () => {
          navbarContainer?.classList.add("!pointer-events-none");
          navbar?.classList.remove("[transform:translateY(var(--translateY))]");
        };

        const observer = new IntersectionObserver(
          (entries) => {
            entries.forEach((entry) => {
              if (entry.isIntersecting) {
                onEnterViewport();
              } else {
                onLeaveViewport();
              }
            });
          },
          {
            threshold: 0.6,
          },
        );

        const homeElement = document.getElementById("home");
        if (homeElement) {
          observer.observe(homeElement);
        }
      });
    </script>
    <script>
      import AOS from "aos";
      AOS.init({
        disable: "mobile",
        duration: 1000,
        easing: "ease",
        once: true,
      });
    </script>
  </body>
</html>
